In [4]:
#                                          ANSWER1
#A "for" loop is used to run a block of code for a certain number of times.
#example:

print("DISPLAY NUMBERS 1 TO 10")
for i in range(1,11):
    print(i , end = " ")
    
#A "While" Loop is used to repeat a specific block of code an unknown number of times, until a condition is met..

print("")
print("DISPLAY NUMBERS 1 TO 10")
n=1
while n<=10:
    print(n , end = " ")
    n = n+1

DISPLAY NUMBERS 1 TO 10
1 2 3 4 5 6 7 8 9 10
DISPLAY NUMBERS 1 TO 10
1 2 3 4 5 6 7 8 9 10

In [6]:
#                                         ANSWER 2
#BY FOR LOOP
sum=0
product=1
for i in range(1,11):
    sum = sum+i
    product = product*i
print(" SUM OF FIRST 10 NATURAL NUMBER = ",sum)
print(" PRODUCT OF FIRST 10 NATURAL NUMBER = ",product)
#BY WHILE LOOP
sum1=0
product1=1
n=1
while n<=10:
    sum1 = sum1 + n
    product1 = product1 * n
    n = n + 1
print(" SUM OF FIRST 10 NATURAL NUMBER = ",sum1)
print(" PRODUCT OF FIRST 10 NATURAL NUMBER = ",product1)

 SUM OF FIRST 10 NATURAL NUMBER =  55
 PRODUCT OF FIRST 10 NATURAL NUMBER =  3628800
 SUM OF FIRST 10 NATURAL NUMBER =  55
 PRODUCT OF FIRST 10 NATURAL NUMBER =  3628800

In [7]:
#                                        ANSWER 3
def bill(unit):
    if unit <= 100:
        return (bill*4.5)
    elif unit > 100 and unit <= 200:
        return ((100*4.5)+((unit - 100)*6))
    elif unit > 200 and unit <= 300:
        return ((100*4.5)+(100*6)+((unit - 200)*10))
    elif unit > 300:
        return (100*4.5)+(100*6)+(100*10)+((unit - 300)*20)
    else:
        return 0

unit = 310
print(bill(unit))

2250.0

In [9]:
#                                       ANSWER 4 
#BY FOR LOOP
l = []
l1 = []
for i in range(1,101):
    l.append(i)
    print("THE CUBE OF",i,"=",i**3)
    if (i**3) % 4 == 0 or (i**5) % 5 == 0:
        l1.append(i)
print("THE LIST OF NUMBER WHOSE CUBE IS DIVISIBLE BY 4 OR 5 = ",l1)

#BY WHILE LOOP
l2=[]
l3=[]
n=1
while n<=100 and n>0:
    l2.append(n)
    print("THE CUBE OF",n,"=",n**3)
    if (n**3) % 4 == 0 or (n**3) % 5 == 0:
        l3.append(n)
    n = n+1
print("THE LIST OF NUMBER WHOSE CUBE IS DIVISIBLE BY 4 OR 5 = ",l3)

THE CUBE OF 1 = 1
THE CUBE OF 2 = 8
THE CUBE OF 3 = 27
THE CUBE OF 4 = 64
THE CUBE OF 5 = 125
THE CUBE OF 6 = 216
THE CUBE OF 7 = 343
THE CUBE OF 8 = 512
THE CUBE OF 9 = 729
THE CUBE OF 10 = 1000
THE CUBE OF 11 = 1331
THE CUBE OF 12 = 1728
THE CUBE OF 13 = 2197
THE CUBE OF 14 = 2744
THE CUBE OF 15 = 3375
THE CUBE OF 16 = 4096
THE CUBE OF 17 = 4913
THE CUBE OF 18 = 5832
THE CUBE OF 19 = 6859
THE CUBE OF 20 = 8000
THE CUBE OF 21 = 9261
THE CUBE OF 22 = 10648
THE CUBE OF 23 = 12167
THE CUBE OF 24 = 13824
THE CUBE OF 25 = 15625
THE CUBE OF 26 = 17576
THE CUBE OF 27 = 19683
THE CUBE OF 28 = 21952
THE CUBE OF 29 = 24389
THE CUBE OF 30 = 27000
THE CUBE OF 31 = 29791
THE CUBE OF 32 = 32768
THE CUBE OF 33 = 35937
THE CUBE OF 34 = 39304
THE CUBE OF 35 = 42875
THE CUBE OF 36 = 46656
THE CUBE OF 37 = 50653
THE CUBE OF 38 = 54872
THE CUBE OF 39 = 59319
THE CUBE OF 40 = 64000
THE CUBE OF 41 = 68921
THE CUBE OF 42 = 74088
THE CUBE OF 43 = 79507
THE CUBE OF 44 = 85184
THE CUBE OF 45 = 91125
THE CUBE OF 46 = 97336
THE CUBE OF 47 = 103823
THE CUBE OF 48 = 110592
THE CUBE OF 49 = 117649
THE CUBE OF 50 = 125000
THE CUBE OF 51 = 132651
THE CUBE OF 52 = 140608
THE CUBE OF 53 = 148877
THE CUBE OF 54 = 157464
THE CUBE OF 55 = 166375
THE CUBE OF 56 = 175616
THE CUBE OF 57 = 185193
THE CUBE OF 58 = 195112
THE CUBE OF 59 = 205379
THE CUBE OF 60 = 216000
THE CUBE OF 61 = 226981
THE CUBE OF 62 = 238328
THE CUBE OF 63 = 250047
THE CUBE OF 64 = 262144
THE CUBE OF 65 = 274625
THE CUBE OF 66 = 287496
THE CUBE OF 67 = 300763
THE CUBE OF 68 = 314432
THE CUBE OF 69 = 328509
THE CUBE OF 70 = 343000
THE CUBE OF 71 = 357911
THE CUBE OF 72 = 373248
THE CUBE OF 73 = 389017
THE CUBE OF 74 = 405224
THE CUBE OF 75 = 421875
THE CUBE OF 76 = 438976
THE CUBE OF 77 = 456533
THE CUBE OF 78 = 474552
THE CUBE OF 79 = 493039
THE CUBE OF 80 = 512000
THE CUBE OF 81 = 531441
THE CUBE OF 82 = 551368
THE CUBE OF 83 = 571787
THE CUBE OF 84 = 592704
THE CUBE OF 85 = 614125
THE CUBE OF 86 = 636056
THE CUBE OF 87 = 658503
THE CUBE OF 88 = 681472
THE CUBE OF 89 = 704969
THE CUBE OF 90 = 729000
THE CUBE OF 91 = 753571
THE CUBE OF 92 = 778688
THE CUBE OF 93 = 804357
THE CUBE OF 94 = 830584
THE CUBE OF 95 = 857375
THE CUBE OF 96 = 884736
THE CUBE OF 97 = 912673
THE CUBE OF 98 = 941192
THE CUBE OF 99 = 970299
THE CUBE OF 100 = 1000000
THE LIST OF NUMBER WHOSE CUBE IS DIVISIBLE BY 4 OR 5 =  [2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]
THE CUBE OF 1 = 1
THE CUBE OF 2 = 8
THE CUBE OF 3 = 27
THE CUBE OF 4 = 64
THE CUBE OF 5 = 125
THE CUBE OF 6 = 216
THE CUBE OF 7 = 343
THE CUBE OF 8 = 512
THE CUBE OF 9 = 729
THE CUBE OF 10 = 1000
THE CUBE OF 11 = 1331
THE CUBE OF 12 = 1728
THE CUBE OF 13 = 2197
THE CUBE OF 14 = 2744
THE CUBE OF 15 = 3375
THE CUBE OF 16 = 4096
THE CUBE OF 17 = 4913
THE CUBE OF 18 = 5832
THE CUBE OF 19 = 6859
THE CUBE OF 20 = 8000
THE CUBE OF 21 = 9261
THE CUBE OF 22 = 10648
THE CUBE OF 23 = 12167
THE CUBE OF 24 = 13824
THE CUBE OF 25 = 15625
THE CUBE OF 26 = 17576
THE CUBE OF 27 = 19683
THE CUBE OF 28 = 21952
THE CUBE OF 29 = 24389
THE CUBE OF 30 = 27000
THE CUBE OF 31 = 29791
THE CUBE OF 32 = 32768
THE CUBE OF 33 = 35937
THE CUBE OF 34 = 39304
THE CUBE OF 35 = 42875
THE CUBE OF 36 = 46656
THE CUBE OF 37 = 50653
THE CUBE OF 38 = 54872
THE CUBE OF 39 = 59319
THE CUBE OF 40 = 64000
THE CUBE OF 41 = 68921
THE CUBE OF 42 = 74088
THE CUBE OF 43 = 79507
THE CUBE OF 44 = 85184
THE CUBE OF 45 = 91125
THE CUBE OF 46 = 97336
THE CUBE OF 47 = 103823
THE CUBE OF 48 = 110592
THE CUBE OF 49 = 117649
THE CUBE OF 50 = 125000
THE CUBE OF 51 = 132651
THE CUBE OF 52 = 140608
THE CUBE OF 53 = 148877
THE CUBE OF 54 = 157464
THE CUBE OF 55 = 166375
THE CUBE OF 56 = 175616
THE CUBE OF 57 = 185193
THE CUBE OF 58 = 195112
THE CUBE OF 59 = 205379
THE CUBE OF 60 = 216000
THE CUBE OF 61 = 226981
THE CUBE OF 62 = 238328
THE CUBE OF 63 = 250047
THE CUBE OF 64 = 262144
THE CUBE OF 65 = 274625
THE CUBE OF 66 = 287496
THE CUBE OF 67 = 300763
THE CUBE OF 68 = 314432
THE CUBE OF 69 = 328509
THE CUBE OF 70 = 343000
THE CUBE OF 71 = 357911
THE CUBE OF 72 = 373248
THE CUBE OF 73 = 389017
THE CUBE OF 74 = 405224
THE CUBE OF 75 = 421875
THE CUBE OF 76 = 438976
THE CUBE OF 77 = 456533
THE CUBE OF 78 = 474552
THE CUBE OF 79 = 493039
THE CUBE OF 80 = 512000
THE CUBE OF 81 = 531441
THE CUBE OF 82 = 551368
THE CUBE OF 83 = 571787
THE CUBE OF 84 = 592704
THE CUBE OF 85 = 614125
THE CUBE OF 86 = 636056
THE CUBE OF 87 = 658503
THE CUBE OF 88 = 681472
THE CUBE OF 89 = 704969
THE CUBE OF 90 = 729000
THE CUBE OF 91 = 753571
THE CUBE OF 92 = 778688
THE CUBE OF 93 = 804357
THE CUBE OF 94 = 830584
THE CUBE OF 95 = 857375
THE CUBE OF 96 = 884736
THE CUBE OF 97 = 912673
THE CUBE OF 98 = 941192
THE CUBE OF 99 = 970299
THE CUBE OF 100 = 1000000
THE LIST OF NUMBER WHOSE CUBE IS DIVISIBLE BY 4 OR 5 =  [2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [10]:
#                                           ANSWER 5
string = "I want to become a data scientist"
char = string.lower()
count = 0
d = ["a","e","i","o","u"]
for k in char:
    if k in d:
        count = count + 1
print("NO. OF VOWELS ARE",count)

NO. OF VOWELS ARE 12